.container {
	margin: 20px;
	background: linear-gradient(to top, purple, transparent 4px);
}

.grid {
	display: flex;
	justify-content: space-between;
	border-radius: 2px;
	box-shadow: 2px 2px 4px purple;
}

@media screen and (min-width: 1350px) {
	.container {
		width: 1350px;
	}
}