.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 4px 0;
}

.half {
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: 15px;
}