.container {
	flex-basis: 50%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	padding: 15px;
	box-sizing: border-box;
	border-left: 1px solid purple;
}

.title {
	font-weight: 700;
	margin: 0 0 5px;
	color: purple;
}